<%- include('./partials/header.ejs')%>
<body>

  <body>

    <div style='background-image: url(/images/nasa.jpeg);'
    class="img-responsive" id="editImage">
      <h1 class="newHeader">CREATE A NEW MOVIE</h1>
    <nav class="nav nav-tabs justify-content-center">
      <a id="tops" href='/movies'>HOME</a>

    </nav>

      <form class="form" action="/movies" method="POST">

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">MOVIE NAME:</label>
          <input type="text" name="name" class="form-control" id="formGroupExampleInput"
            value="">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">DESCRIPTION:</label>
          <input type="text" name="description" class="form-control" id="formGroupExampleInput2"
            value="">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">COVER IMAGE</label>
          <input type="text" name="img" class="form-control" id="formGroupExampleInput2"
            value="">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">TRAILER</label>
          <input type="text" name="video" class="form-control" id="formGroupExampleInput2"
            value="">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">RATING</label>
          <input type="number" name="rating" class="form-control" id="formGroupExampleInput2"
            value="">
        </div>

        <input type="submit" value="Create Movie" class="btn btn-primary"></input>

      </form>

    </div>

<%- include('./partials/footer.ejs')%>
