<%- include('../partials/header.ejs')%>

<body style="background-image: url(/images/scifi.jpeg);"
	class="img-responsive" id="signImage">
	<div>
	    <h1 class="hello">Sign-In</h1>

		<form action="/users/signin" method="POST">
			<fieldset>
				<label for="username">Username:</label>
				<input type="text" name="username" id="username">
			</fieldset>
			<fieldset>
				<label for="password">Password:</label>
				<input type="password" name="password" id="password">
			</fieldset>
			<input type="submit" value="Sign In">
		</form>
	</div>
</body>
</html>
